@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;700&display=swap');

:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
}

*{
    margin: 0;
    padding: 0;

    font-family: 'Merriweather Sans', sans-serif;
    color: var(--text-color);
    text-decoration: none;
}

/* CONTEUDO DA PAGINA */
body{
    padding: 1rem 1rem;

    background-color: var(--body-bg-color);
    
    display: flex;
    justify-content: space-around;
    gap: 1.5rem;
}

aside{
    flex: 0 0 25vw;

    display: flex;
    flex-flow: column nowrap;

    gap: 1rem;
}

main{
    flex: 1;

    display: flex;
    flex-flow: column nowrap;

    gap: 1rem;
}

.container{
    padding: 1rem;

    background-color: var(--bg-cards);

    border-radius: 20px;

    
    display: flex;
    flex-flow: column nowrap;
}

/* SEÇÃO PERFIL */
#Perfil{
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}

.foto_perfil{
    width: 150px;

    border-radius: 100%;
}

#Perfil .foto_perfil{
    border: 2px solid #00FF00;
}

#nome{
    font-size: 23px;
    font-weight: 700;
}

#descricao{
    font-size: 13px;
    font-weight: 400;
}

/* SEÇÂO DADOS */
#Dados{
    padding-left: 1.5rem;

    justify-content: space-around;
    align-items: flex-start;
    gap: 15px;
}

.info{
    display: flex;
    align-items: center;
    gap: 10px;
}

/* SEÇÂO DADOS */
#Tecnologias{
    flex-flow: row wrap;
    justify-content: center;
    gap: .5rem;
}

#Tecnologias h2{
    flex-basis: 100%;
}

.competencias{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 31%;
    height: max-content;

    color: black;
    background-color: var(--bg-techs);
    border-radius: 75px;
}

/* SEÇÂO EXPERIÊNCIAS, EDUCAÇÃO E CERTIFICADOS */
.listas > ul{
    margin-left: 15%;
}

.listas > ul > li{
    font-size: 18px;
    font-weight: 500;
}

.listas > ul ul{
    list-style: none;
}

li{
    font-size: 13px;
    font-weight: 400;
}